
.grandeBoite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid black;
}

.grandeBoite .row
{
    flex-direction:row;
    justify-content: space-around;
    
   
}

.petiteBoite
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 5px solid red;
    margin: 1%;
    height: 300px;
}
